<script setup lang="ts">
import { ref } from 'vue';
import { useRouter, useRoute } from 'vue-router'
const route=useRoute()
const historyParams = history.state
console.log("r",route,historyParams.href);

const href=ref<string>(historyParams.href as string)
</script>

<template>
    <iframe class="iframe" :src="href" frameborder="0"></iframe>
</template>
<style scoped>
.iframe {
    width: 100%;
    height: 99%;
}
</style>