<script setup lang="ts">
import { useThemeStore } from '@/stores/theme';
import { AddCircleOutline, EllipsisVertical as EllipsisVerticalIcon, CreateOutline as CreateIcon } from '@vicons/ionicons5'
import { useThemeVars, type MenuOption, NDropdown } from 'naive-ui';
import { h } from 'vue';
const theme = useThemeStore()
const cssVar = useThemeVars()
console.log("cssVar", cssVar);
const options=[{
          label: 'gpt-3.5-turbo(11.3k)',
          key: 'gpt-3.5-turbo'
        },
        {
          label: 'gpt-4.0(10.7k)',
          key: "gpt-4.0"
        },]
const menuOptions: MenuOption[] = [
    {
        label: () =>
            h(
                NDropdown,
                {
                    trigger: 'click',
                    placement: 'top-start',
                    options: options,
                    onSelect: (key: string | number) => {
                        
                    }
                },
                '且听风吟'
            ),
        key: 'hear-the-wind-sing'
    },
]
</script>
<template>
    <n-layout has-sider>
        <n-layout-sider :show-trigger="true" :collapsed-width="0" content-style="padding: 24px;">
            <n-grid :x-gap="12" :cols="3">
                <n-gi :span="2">
                    <n-input type="text" placeholder="搜索对话" />
                </n-gi>
                <n-gi :span="1">
                    <n-button>
                        <template #icon>
                            <n-icon :size="26" :component="AddCircleOutline" />
                        </template>
                    </n-button>
                </n-gi>
            </n-grid>
            <n-grid :y-gap="12" :cols="1" style="margin-top: 12px;">
                <n-gi class="session flex justify-between items-center">
                    <div>
                        <div>标题</div>
                        <div>时间</div>
                    </div>
                    <div class="flex">
                        <div>
                            <n-button text style="font-size: 24px">
                                <n-icon>
                                    <CreateIcon />
                                </n-icon>
                            </n-button>
                        </div>
                        <div>
                            <n-button text style="font-size: 24px">
                                <n-icon>
                                    <EllipsisVerticalIcon />
                                </n-icon>
                            </n-button>
                        </div>
                    </div>
                </n-gi>
            </n-grid>
        </n-layout-sider>
        <n-layout>
            <n-layout-content content-style="height: 90vh;">
                <n-grid class="chat-message" :cols="1">
                    <n-gi>
                        1
                    </n-gi>
                </n-grid>
                <n-grid class="chat" :cols="1">
                    <n-gi>
                        <n-menu :value="0" mode="horizontal" :options="menuOptions" responsive />
                    </n-gi>
                </n-grid>
            </n-layout-content>
        </n-layout>
    </n-layout>
</template>
<style scoped>
.chat-message {
    height: 80%;
}

.items-center {
    align-items: center;
}

.flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.session {
    height: 50px;
    border-style: groove;
    border-color: v-bind("cssVar.actionColor");
    /* color: var(--aa-c-primary); */
}

.session:hover {
    background-color: v-bind("cssVar.baseColor");
    border-color: v-bind("cssVar.primaryColorHover");
    color: v-bind("cssVar.primaryColorHover");
}
</style>